/.classpath
/.project
/.settings
/.idea
/target
/bin
/.DS_Store
/**/**/.DS_Store
#
/core/factronica-core-parent.iml
/core-impl/factronica-core
/factronica.iml
/online/factronica-online.iml
/pos/factronica-pos.iml
/service/factronica-service-parent.iml
/service/smtp/smtp.iml
/service/esignature/esignature.iml
/service/esignature/factronica-service-esignature.iml
/service/smtp/factronica-service-smtp.iml
/service/sriclient/factronica-service-sriclient.iml
/api/factronica-api.iml
/core-impl/factronica-core-impl.iml
/core/api/factronica-core-api.iml
/core/invoice/factronica-core-invoice.iml
/core/persistence/factronica-core-persistence.iml
/factronica-api.iml
/factronica-core.iml
/factronica-online.iml
/factronica-pos.iml
/factronica-service-parent.iml
/factronica-service-smtp.iml
/factronica-service-esignature.iml
/factronica-core-parent.iml
/factronica-service-sriclient.iml
/factronica-core-impl.iml
/factronica-core-api.iml
/factronica-core-invoice.iml
/factronica-core-persistence.iml
/emailer-api.iml
/emailer-implementation.iml
/emailer-rest.iml
#eMailer Service
/emailer.iml
/emailer/emailer.iml
/emailer/api/api.iml
/emailer/implementation/implementation.iml
/emailer/rest/rest.iml
